.productList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px 20px 20px;
}

@media (min-width: 768px) {
  .productList {
    padding: 0 40px;
    align-items: center; /* Centra la lista en desktop */
  }
}
