.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.loadingLogo {
    animation: pulse 1.5s ease-in-out;
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

.loadingText {
    font-size: 0.7em;
    color: #333;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 0.7em;
    background-color: #333;
    animation: blink 0.7s infinite;
    margin-left: 5px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}
