.productItem {
  display: flex;
  background-color: var(--background-color);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* --- IMAGEN --- */

.productImage {
  width: 40%;
  height: auto;
  object-fit: cover;
  background-color: transparent;
  border-radius: 20px;
}

/* --- DETALLES --- */

.productDetails {
  width: 55%;
  padding: 10px 15px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --- TÍTULO --- */

.productTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 5px;
  margin-bottom: 10px;
}

/* --- GRUPO DE OPCIONES Y BOTONES --- */

.productOptions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.optionButton,
.addButton {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.optionButton {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--button-color);
  flex-grow: 0;
  margin-right: 0;
}

.addButton {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--button-color);
  text-transform: lowercase;
  font-weight: 600;
}

/* --- PRECIO --- */

.productPrice {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-subtle-color);
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: right;
}

/* --- MENSAJE DE CONFIRMACIÓN --- */
.confirmationMessage {
  font-size: 16px;
  color: #28a745; /* Un color verde para éxito */
  font-weight: 500;
  text-align: right;
  margin-top: 8px;
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .productItem {
    max-width: 700px;
  }

  .productImage {
    width: 30%;
  }

  .productDetails {
    width: 70%;
    padding: 20px 25px;
  }

  .optionButton,
  .addButton {
    padding: 8px 15px;
    font-size: 14px;
  }
  .productTitle {
    font-size: 18px;
  }
  .productPrice {
    font-size: 20px;
  }
}
