.productList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 14px 14px 14px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .productList {
    padding: 0 40px;
    align-items: center; /* Centra la lista en desktop */
  }
}
