.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: #fff;
  border-radius: 8px;
  max-width: 90%;
  width: 500px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensures content respects border-radius */
}

.imageContainer {
  position: relative;
  width: 100%;
}

.productImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 1;
  transition: background-color 0.2s;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prevButton {
  left: 10px;
  border-radius: 5px 0 0 5px;
}

.nextButton {
  right: 10px;
  border-radius: 0 5px 5px 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  z-index: 10;
}

.detailsView {
  padding: 20px;
  overflow-y: auto;
}

.originText {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
}
