:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colores para el tema claro (crema y negro) */
  --cream-background: #fdf5e6; /* Un tono de crema */
  --primary-text-color: #333333; /* Negro suave */

  color: var(--primary-text-color);
  background-color: var(--cream-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff; /* Puedes ajustar esto si necesitas otro color para los enlaces */
  text-decoration: inherit;
}
a:hover {
  color: #535bf2; /* Ajusta según el color del enlace */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Asegurarse de que el body herede el color de fondo y texto del root */
  background-color: var(--cream-background);
  color: var(--primary-text-color);
}

/* Estilos para el nuevo contenedor de la aplicación */
.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f0f0f0; /* Un color claro para el botón en tema crema */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff; /* Mantener color de hover o ajustar si es necesario */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
